.post {
  background: #f8f8f8;
  background-image:
    linear-gradient(90deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px),
    linear-gradient(0deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px),
    linear-gradient(0deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  color: #333;
  line-height: 1.6;
}

.layout
